
.loginContainer {
  width: 40%;
  height: 50px;
  /* Center vertically and horizontally */
  position: absolute;
  top: 20%;
  left: 30%;
  margin: -25px 0 0 -25px;
}

.form {
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 3.125em;
  border-radius: 10px;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}

.login {
  color: rgb(77, 75, 75);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 0.5em;
}

.form--input {
  width: 100%;
  margin-bottom: 1.25em;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0.8em;
  font-family: 'Inter', sans-serif;
  outline: none;
}

.form--input:focus {
  border: 1px solid #639;
  outline: none;
}
.loginButtons{
  display: flex;
  flex-direction: row;
}

.form--submit {
  width: 150px;
  height: 50px;
  padding: 0.625em;
  padding-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 5px;
  color: white;
  background-color: #639;
  border: 1px dashed #639;
  cursor: pointer;
}
.form--submit:hover {
  color: #639;
  background-color: white;
  border: 1px dashed #639;
  cursor: pointer;
  transition: 0.5s;
}

.errMassage{
  color: red;
  align-self: flex-start;
  margin-bottom: 20px;
}